body {
  padding: 5px;
  background-color: #acf;
}

.form-group label {
  color: #fff;
}

.help-question-mark {
  cursor: pointer;
}

.origin-story-row {
  margin-top: 4px;
  border-top: 1px dashed white;
}

.origin-story-link {
  color: white;
}
