.generate-button {
  border-radius: 2pt;
  font-size: 15pt;
  background-color: green;
  padding: 3pt;
  cursor: pointer;
}

.option-label {
  padding: 3pt;
}

.option-div input {
  border-color: 1pt solid black;
  border-radius: 4pt;
}

.small-number {
  width: 3em;
}
